@media (min-width: 0em) {

    // All sections will have an id
    #landing {
        min-height: 100vh;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: $margin-lg;
        }
    }
}