@media (min-width: 0em){
    #instafeed {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        place-items: center;
        a {
            max-width: 300px;
            text-decoration: none;
            img {
                width: 300px;
            }
            p {
                color: $primary;
            }
        }
    }
}